.collections{
    background: #4568DC;  
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    background: linear-gradient(to right, #B06AB3, #4568DC); 
    width: 100%;
    min-height: 100vh;
}

.TeamHead{
    font-weight: 700;
    font-size: 6rem;
    text-shadow: 1px 9px 5px #000;
    color: #fff !important;
}

.SearchBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    gap: 20px;
    font-size: 1.2rem;
    width: 25%;
    height: 90vh;
    background: rgb(237, 237, 237);
}
.SearchBarOption{
    text-align: center;
    color : #fff;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px; 
    width: 100%;
    background: #97C84B;
}


@media screen and  (max-width: 500px){
    .TeamHead{
        font-size: 3rem;
    }
}