.collections{
    background: #4568DC;  
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    background: linear-gradient(to right, #B06AB3, #4568DC); 
    width: 100%;
    min-height: 100vh;
}

.offcanvas-header {
    background-color: black;
}

.offcanvas-header .btn-close {
    background-color: white !important;
}

.TeamHead{
    font-weight: 700;
    font-size: 6rem;
    text-shadow: 1px 9px 5px #000;
    color: #fff !important;
}

.SearchBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    gap: 20px;
    font-size: 1.2rem;
    width: 25%;
    height: 90vh;
    background: rgb(237, 237, 237);
}

.SearchBarTicket{
    display: flex;
    justify-content: space-around;
    padding: 25px;
    gap: 30vw;
    flex-wrap: wrap;
}
.SearchBarCont2{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.SearchBarSearchTicket{
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1.2rem;
    background: transparent;
}
.SearchBarSubmit{
    outline: none;
    border-radius: 5px;
    border: 1px #000 solid;
    padding: 10px;
    background: #75dc45;
}
.SearchBarOption{
    text-align: center;
    color : #fff;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px; 
    width: 60%;
    box-shadow: 3px 5px 10px 5px #8B6AC2;
    /* background: #97C84B; */
}

.SearchBarOption:hover {
    transition: 0.4s;
    box-shadow: 3px 5px 10px 2px #8B6AC2;
}

.SearchBarLeft{
    display: flex;
    padding: 10px;
    width: 100%;
    gap: 15px;
    height: 100vh;
    background: black;
    flex-direction: column;
    align-items: center;
}

@media screen and  (max-width: 500px){
    .TeamHead{
        font-size: 3rem;
    }
}