@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
.WhitePaper {
  padding: 20px 0px;
}
.aboutContainer {
  width: 100%;
  /* From https://css.glass */
  border-radius: 16px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
}
.aboutContainerHead {
  text-align: center;
  padding: 10px;
  color: #fff;
  font-size: 3rem;
  text-shadow: 1px 6px 4px #000;
  font-weight: 700;
}
.aboutDescText {
  padding: 10px;
  font-size: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  text-align: justify;
  color: #fff;
  width: 70%;
  padding-left: 10%;
}

/* .aboutDescImgContainer {
  background: #363636b1;
} */

.aboutDescContainer {
  display: flex;
  padding: 30px;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 5%;
  justify-content: center;
}

.aboutDescImgContainer {
  width: 20%;
}

.aboutDescImg {
  width : 80%;

  /* box-shadow: -10px 10px 2px #000; */
}
@media screen and (max-width: 900px) {
  .aboutDescContainer {
    flex-direction: column;
  }
  .aboutDescContainer {
    padding: 10px;
  }
  .aboutDescImg {
    width: 40vw;
  }
  .aboutContainer {
    width: 80%;
  }
  .aboutContainerHead {
    font-size: 2rem;
  }
}


@media screen  and  (max-width: 500px){
  .aboutDescText{
    font-size: .9rem;
  }
  .aboutContainer{
    width: 90%;
    padding: 0px;
  }
}